body {
	background-image: url("images/jasmine-riso-crop.png");
	font-family: helvetica;
	color: white;
	background-repeat: repeat;
	background-color:#ffc800;
}

a:link {
    color: #b987de;
    text-decoration: none;
}

a:hover {
    background-color: #EAFA8A;
    text-decoration: none;
    font-style: italic;
}

a:visited {
    color: hotpink;
    text-decoration: none;
    font-style: italic;
}

.desc {
	margin: auto;
	padding: 30px;
	color: #39B54A;
}

