*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 22px;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;	
	width: 100vw;
}

a {
	display: block;
	margin: 20px;
}