* {
    box-sizing: border-box;
}

body{

}

.bounding-box{
    position: relative;
    width: 385px;
    height: 550px;
    background: none;
    margin: 20px;
}

.halfcircle-horizontal:hover{
    transform: rotate(180deg);
    background-color: orange;
}

.halfcircle-veritcal:hover{
    transform: rotate(180deg);
    background-color: pink;
}

.halfcircle-horizontal-small:hover{
    transform: rotate(180deg);
    background-color: orange;
}

.halfcircle-horizontal{
    position: absolute;
    width: 90px;
    height: 45px;
    background: black;
}

.halfcircle-veritcal{
    position: absolute;
    width: 45px;
    height: 90px;
    background: black;
}

.halfcircle-horizontal-small{
    position: absolute;
    width: 45px;
    height: 22.5px;
    background: black;
}

.top1{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 15px;
    left: 146px;
}

.top2{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 450px;
    left: 60px;
}

.top3{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 450px;
    left: 233px;
}

.top4{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 296px;
    left: 281px;
}

.top5{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 296px;
    left: 198px;
}

.bottom1{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 60px;
    left: 60px;
}

.bottom2{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 60px;
    left: 233px;
}

.bottom3{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 493px;
    left: 146px;
}

.bottom4{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 317px;
    left: 239px;
}

.bottom5{
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 317px;
    left: 156px;
}

.right1{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 318px;
    left: 60px;
}

.right2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 146px;
    left: 60px;
}

.right3{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 405px;
    left: 322px;
}

.left1{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 60px;
    left: 16px;
}

.left2{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 318px;
    left: 281px;
}

.left3{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 405px;
    left: 16px;
}

.left4{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 231px;
    left: 16px;
}
}