* {
    box-sizing: border-box;
}

body{

}

.bounding-box{
    position: relative;
    width: 425px;
    height: 550px;
    background: none;
    margin: 20px;
}

.halfcircle-veritcal:hover{
    transform: rotate(180deg);
    background: pink;
}

.halfcircle-horizontal-small:hover{
    transform: rotate(180deg);
    background: orange;
}

.halfcircle-horizontal{
    position: absolute;
    width: 90px;
    height: 45px;
    background: black;
}

.halfcircle-veritcal{
    position: absolute;
    width: 45px;
    height: 90px;
    background: black;
}

.halfcircle-horizontal-small{
    position: absolute;
    width: 45px;
    height: 22.5px;
    background: black;
}

.right1{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 60px;
    left: 363px;
}

.right2{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 231px;
    left: 363px;
}

.right3{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 318px;
    left: 60px;
}

.right4{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 146px;
    left: 60px;
}

.right5{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 405px;
    left: 363px;
}

.left1{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 60px;
    left: 16px;
}


.left2{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 146px;
    left: 319px;
}

.left3{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 318px;
    left: 319px;
}

.left4{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 405px;
    left: 16px;
}

.left5{
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    top: 231px;
    left: 16px;
}

.top1{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 261px;
    left: 60px
}

.top2{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 261px;
    left: 146px;
}

.top3{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 261px;
    left: 232px;
}

.top4{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    top: 261px;
    left: 319px;
}

.bottom1{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 283px;
    left: 103px;
}

.bottom2{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 283px;
    left: 189px;
}

.bottom3{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    top: 283px;
    left: 275px;
}
}